#modal-consultation
	.form-standart.bem.registration-form.is-modal
		.form-standart__plate
			.form-standart__title Запишитесь на консультацию
			form.js-ajax(name="" method="" action="#")
				.form-standart__fields-list
					.form-standart__field.registration-form__field.is-inline
						.form-standart__item
							.form-standart__inputs
								input(type="text" name="username" value="" placeholder="Имя:" data-necessary)
								.form-standart__none Заполнение имени обязательно


					.form-standart__field.registration-form__field.is-inline
						.form-standart__item
							.form-standart__inputs
								input(type="text" name="phone" value="" placeholder="Телефон:" data-necessary data-mask='phone')
								.form-standart__none Пожалуйста, укажите телефон



					.form-standart__field.registration-form__field.is-inline
						.form-standart__item
							.form-standart__inputs
								input(type="text" name="time" value="" placeholder="Удобное время для звонка:" data-necessary )
								.form-standart__none Пожалуйста, заполните поле



					.form-standart__field
						.form-standart__item.registration-form__field.is-inline
							.form-standart__inputs
								textarea(type="text" name="time" value="" placeholder="Кратко опишите свой вопрос:" data-necessary )


					.form-standart__field.is-field-btn
						.form-standart__item
							.form-standart__inputs.form-standart__btn
								button.button-primary.icon-arrow.is-gold.consultation-btn(type="submit" name="" value="") Отправить заявку
				.success-message-modal
					.success-message-modal__logo
						img(src="img/logo.png")
						div с 1990 года
					.success-message-modal__caption Спасибо за заявку,
					.success-message-modal__text мы скоро свяжемся с вами.





#modal-login.mfp-hide.white-popup-block
	.form-standart.bem.is-auth-modal
		.form-standart__title Личный кабинет
		.form-standart__selection
			a.form-standart__selection-enter(href="#") Вход
			a.form-standart__selection-registration(href="#") Регистрация
		form(name="" method="" action="#")
			.form-standart__fields-list
				.form-standart__field
					.form-standart__item
						.form-standart__inputs
							input(type="text" name="login" value="" placeholder="E-mail:" data-mask="email" data-necessary)

						.form-standart__message
							.form-standart__error Неверно заполнен email
							.form-standart__none Укажите email

				a.form-standart__add-link(href="#") Забыли пароль?
				.form-standart__field
					.form-standart__item
						.form-standart__inputs
							input(type="password" name="password" placeholder="Пароль:" value="" data-necessary)

						.form-standart__message
							.form-standart__error Неверный пароль
							.form-standart__none Введите пароль
				.form-standart__inputs
					label
						input(type='checkbox' name='have_discount')
						|  Запомнить меня

				.form-standart__field
					.form-standart__label.is-empty &nbsp;
					.form-standart__item
						.form-standart__inputs.form-standart__btn
							button.button-primary.is-gold.icon-arrow(type="submit" name="" value="") Войти




