.menu{
  position: absolute;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%);
  width:100%;
  text-align: center;
  @include w480(){
	display: none;
  }
  @include desktop-mini{
	bottom: 30px;
  }
  &__list{
	color: #fff;
	font-family:$lora;

  }
  &__item{
	display: inline-block;


	&:before {
	  content: "|";
	  margin: 0 36px;
	  font-size: 10px;
	  display: inline-block;
	  vertical-align: middle;
	  @include desktop-mini{
		margin:0 25px;
	  }
	  .is-gray &{
		color: $color-greendark;
	  }
	}
	&:first-child:before {
	  display: none;
	}
  }
  &__link{
	font-size: 18px;
	color: #fff;
	text-decoration: none;
	vertical-align: middle;
	@include desktop-mini{
	  font-size: 15px;
	}
	.is-gray &:hover{
	  color: $color-golddark;
	}
	&.is-active{
	  border-bottom:2px solid $color-yellow;
	  color: $color-yellow;
	  .is-gray &{
		color: $color-golddark;
		border-bottom:2px solid $color-golddark;

	  }
	}

	&:hover{
	  color: $color-yellow;
	}
	&.is-active{
	  padding-bottom: 7px;
	  border-bottom: 2px solid $color-yellow;
	  color: $color-yellow;
	}
  }
}

.is-gray .menu__item{
  margin-right: 30px;
  &:before{
	display: none;
  }
}
